.img-containerMR{
    width: 100% !important;
    min-height: 200px !important;
    max-height: 300px !important;
    max-width: fit-content;
    object-fit: cover !important;
    display: grid;
}
.img-sinShadow{
    box-shadow: none !important;
    border: none !important;
    border-radius: 20px;
    width: 100% !important;
    min-height: 200px !important;
    max-height: 300px !important;
}

@media (max-width: 400px) {
    .tarjetasMR{
        grid-template-columns: repeat(1,1fr) !important;
    }
    .img-containerMR{
        width: 100% !important;
        
    }
}