.producto-card{
  max-height: 550px;
}
  
  
.sectionDescription {
  width: 450px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
};


@media (max-width: 768px) {
  
}


@media screen and (max-width: 450px) {
  .sectionDescription {
    width: 100%;
    padding: 40px;
  
  };
}

@media screen and (max-width: 420px) {
  .producto-card{
    max-height: 284px;
    
  }
}

@media screen and (max-width: 400px) {
  .producto-card{
    max-height: 500px;
    
  }
}

