.list-container{
  padding: 10px;
}
.titulo-card-negocio-panntalla-principal{
  /*max-width: 20ch;*/
  
  font-size: 1rem;
  font-weight: bold;
  /*
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}
.div-x-scroll-animation h2{
  width: 300%;
  animation: slide 5s infinite;
}

.esqueleton-seccion-card{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 270px;
  width: 270px;
  object-fit: contain;
  max-width: 270px;
  min-width: 180px;
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
 }
 

 @media (max-width: 970px) {
  /* .list-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .list-container-recomend{
    grid-template-columns: repeat(1, 1fr) !important;
  }
   */
   .esqueleton-seccion-card{
    
    height: 270px;
    width: 250px;
    object-fit: contain;
    max-width: 270px;
    min-width: 180px;
  }
}

@media (max-width: 917px) {
  
   .esqueleton-seccion-card{
    
    height: 270px;
    width: 26vw;
    object-fit: contain;
    
  }
}


@media (max-width: 713px) {
  
  /* .lazyLoad{
    height: 150px !important;
  } */
  .titulo-card-negocio-panntalla-principal{
    max-width: 20ch;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  .esqueleton-seccion-card{
    
    height: 270px;
    width: 43vw;
    object-fit: contain;
    
  }
} 

@media (max-width: 660px) {
  
  
  .esqueleton-seccion-card{
    
    height: 270px;
    width: 37vw;
    object-fit: contain;
    
  }
} 

@media (max-width: 550px) {
  .titulo-card-negocio-panntalla-principal{
    max-width: 15ch;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  } 
  .list-container{
    gap: "0px" !important;
  }
  
  
}


@media (max-width: 485px) {
  
  .esqueleton-seccion-card{
    
    height: 180px;
    width: 70vw;
    object-fit: contain;
    
  }
} 

@media (max-width: 377px) {
  .titulo-card-negocio-panntalla-principal{
    max-width: none;
    white-space:inherit;
  
  }
  
}
