@media (max-width: 768px) {
  .list-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .list-container-recomend{
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (max-width: 480px) {
  .list-container {
    grid-template-columns: 1fr !important;
    
  }
  .list-container-recomend{
    grid-template-columns: repeat(1, 1fr) !important;
    
  }
}

